In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Recommendation System

- Top/Popular Based Filtering : biasa ditujukan untuk new user
- Content Based Filtering
- Collaborative Filtering

<img src="https://miro.medium.com/max/4056/1*yrkvweErbifbPFkBUyZlOw.png" 
     width="500px">

<hr>

### 2. Collaborative Filtering

- Data yang dibutuhkan : history interkasi user dengan product, Misal:
    - E-commerce : history pembelian user, wishlist user, rating produk
    - Social media : history views, likes, subscribes
- Konsep dasarnya menggunakan formula correlation

In [2]:
# data dummy history rating produk dari user

df = pd.DataFrame([
    {'user' : 'Andi', 'dapur1':5, 'dapur2':5, 'dapur3':5, 'sport1':1, 'sport2':1, 'sport3':1},
    {'user' : 'Budi', 'dapur1':4, 'dapur2':5, 'dapur3':4, 'sport1':2, 'sport2':1, 'sport3':2},
    {'user' : 'Caca', 'dapur1':4, 'dapur2':4, 'dapur3':5, 'sport1':1, 'sport2':2, 'sport3':2},
    {'user' : 'Deni', 'dapur1':1, 'dapur2':2, 'dapur3':1, 'sport1':5, 'sport2':5, 'sport3':4},
    {'user' : 'Euis', 'dapur1':2, 'dapur2':1, 'dapur3':2, 'sport1':4, 'sport2':5, 'sport3':5}
])
df

   user  dapur1  dapur2  dapur3  sport1  sport2  sport3
0  Andi       5       5       5       1       1       1
1  Budi       4       5       4       2       1       2
2  Caca       4       4       5       1       2       2
3  Deni       1       2       1       5       5       4
4  Euis       2       1       2       4       5       5

In [3]:
# Correlation Pearson
dfCorr = df.corr() # default method pearson
dfCorr

          dapur1    dapur2    dapur3    sport1    sport2    sport3
dapur1  1.000000  0.887783  0.971537 -0.971537 -0.950262 -0.907407
dapur2  0.887783  1.000000  0.848485 -0.848485 -0.980418 -0.971537
dapur3  0.971537  0.848485  1.000000 -1.000000 -0.913266 -0.887783
sport1 -0.971537 -0.848485 -1.000000  1.000000  0.913266  0.887783
sport2 -0.950262 -0.980418 -0.913266  0.913266  1.000000  0.950262
sport3 -0.907407 -0.971537 -0.887783  0.887783  0.950262  1.000000

In [4]:
# Rekomendasi untuk fafa

Fafa = ['dapur1',5]

# Similarity Score berdasarkan correlation matrix

skor = dfCorr[Fafa[0]] * Fafa[1]
skor # dipake untuk menentukan barang yang direkomendasikan

In [5]:
# rekomdenasi untuk gina : beli 'dapur1' : 3, 'sport1':3, 'sport3':3

dfSkor = pd.DataFrame()
Gina = [['dapur1',3], ['sport1',3], ['sport3',3]]
for produk,rating in Gina:
    skor = dfCorr[produk] * rating
    # apabila ingin score berada pada rentang -1,1 dapat dimodifikasi pada rumus skor atau menggunakan standard scaller
    dfSkor = dfSkor.append(skor)
    
dfSkor

          dapur1    dapur2   dapur3   sport1    sport2    sport3
dapur1  3.000000  2.663350  2.91461 -2.91461 -2.850787 -2.722222
sport1 -2.914610 -2.545455 -3.00000  3.00000  2.739798  2.663350
sport3 -2.722222 -2.914610 -2.66335  2.66335  2.850787  3.000000

In [6]:
dfSkor.sum().sort_values(ascending=False)

sport3    2.941128
sport1    2.748741
sport2    2.739798
dapur1   -2.636832
dapur3   -2.748741
dapur2   -2.796714
dtype: float64

<hr>

### Cases : Anime Recommendation System
- Dataset Anime Recommendation: https://www.kaggle.com/CooperUnion/anime-recommendations-database
- Buat system rekomendasi content based & collaborative filtering
- tentukan daftar rekomendasi anime (Judul + id) untuk :
    - Content-based berdasarkan feature genre:
        - user 'Ali' suka anime no. 1
        - user 'Bebi' suka anime no. 2, 24, dan 25
        - user 'Cindy' suka anime no. 10 & 200
        - user dengan ```user_id = 1```
    - Collaborative :
        - user 'Ali' memberikan rating {1:10}
        - user 'Bebi' memberikan rating {2:8}, {24:-1}, dan {25: 5}
        - user 'Cindy' suka anime {10:10} & {200:1}
        - user dengan ```user_id = 1```
        
- Bikin Aplikasi menggunakan flask
    - Ketik Title Anime => keluar rekomendasi Anime

In [7]:
dfAnime = pd.read_csv('Anime.csv')
dfAnime.sort_values('anime_id').head(15)

,anime_id,name,genre,type,episodes,rating,members
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
152,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
214,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
2095,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
3159,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848
433,15,Eyeshield 21,"Action, Comedy, Shounen, Sports",TV,145,8.08,83648
325,16,Hachimitsu to Clover,"Comedy, Drama, Josei, Romance",TV,24,8.18,130646
976,17,Hungry Heart: Wild Striker,"Comedy, Shounen, Slice of Life, Sports",TV,52,7.74,13469
263,18,Initial D Fourth Stage,"Action, Cars, Drama, Seinen, Sports",TV,24,8.24,41584
38,19,Monster,"Drama, Horror, Mystery, Police, Psychological,...",TV,74,8.72,247562
841,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
74,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
482,22,Prince of Tennis,"Action, Comedy, School, Shounen, Sports",TV,178,8.04,87643
4536,23,Ring ni Kakero 1,"Action, Shounen, Sports",TV,12,6.70,2224
464,24,School Rumble,"Comedy, Romance, School, Shounen",TV,26,8.06,178553

In [8]:
dfRating = pd.read_csv('rating.csv')
dfRating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

<hr>

#### 1. Content Based

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [10]:
# cek apakah ada yang null
dfAnime.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [11]:
dfAnime = dfAnime.dropna()
dfAnime.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [12]:
cm = cv.fit_transform(dfAnime['genre'])

In [13]:
print(cv.get_feature_names())
print(cm.toarray())

['action', 'adventure', 'ai', 'arts', 'cars', 'comedy', 'dementia', 'demons', 'drama', 'ecchi', 'fantasy', 'fi', 'game', 'harem', 'hentai', 'historical', 'horror', 'josei', 'kids', 'life', 'magic', 'martial', 'mecha', 'military', 'music', 'mystery', 'of', 'parody', 'police', 'power', 'psychological', 'romance', 'samurai', 'school', 'sci', 'seinen', 'shoujo', 'shounen', 'slice', 'space', 'sports', 'super', 'supernatural', 'thriller', 'vampire', 'yaoi', 'yuri']
[[0 0 0 ... 0 0 0]
 [1 1 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [14]:
cosScore = cosine_similarity(cm.toarray())
cosScore

array([[1.        , 0.18898224, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.18898224, 1.        , 0.26726124, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.26726124, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        1.        ]])

<hr>

##### A. Ali : Like (1)

In [15]:
Ali = 1
similarAnime =  sorted(list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == Ali].index[0]])), key=lambda x: x[1], reverse=True)
# similarAnime = pd.DataFrame(similarAnime, columns=['Index','Score'])
# similarAnime

In [16]:
# top 10 Anime
dfSim = pd.DataFrame()
for i in similarAnime[:11]:
    dfSim = dfSim.append(dfAnime.iloc[i[0]])
dfSim

,anime_id,episodes,genre,members,name,rating,type
22,1.0,26,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",486824.0,Cowboy Bebop,8.82,TV
1465,4037.0,1,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",19565.0,Cowboy Bebop: Yose Atsume Blues,7.53,Special
6568,1226.0,13,"Action, Adventure, Comedy, Drama, Romance, Sci...",4817.0,Seihou Tenshi Angel Links,6.06,TV
551,400.0,24,"Action, Adventure, Comedy, Sci-Fi, Space",78600.0,Seihou Bukyou Outlaw Star,7.98,TV
1073,2202.0,1,"Action, Adventure, Drama, Sci-Fi, Space",4415.0,Waga Seishun no Arcadia,7.70,Movie
1398,2203.0,22,"Action, Adventure, Drama, Sci-Fi, Space",2587.0,Waga Seishun no Arcadia: Mugen Kidou SSX,7.56,TV
2333,1490.0,26,"Action, Adventure, Drama, Sci-Fi, Space",5947.0,Ginga Tetsudou Monogatari,7.29,TV
2735,2470.0,1,"Action, Adventure, Drama, Sci-Fi, Space",2579.0,Uchuu Kaizoku Captain Harlock: Arcadia-gou no ...,7.18,Movie
3057,2717.0,24,"Action, Adventure, Drama, Sci-Fi, Space",2072.0,Ginga Tetsudou Monogatari: Eien e no Bunkiten,7.09,TV
5721,3175.0,1,"Action, Adventure, Comedy, Drama, Sci-Fi",551.0,Kaitei Choutokkyuu: Marine Express,6.37,Special
700,1921.0,1,"Action, Adventure, Comedy, Drama, Romance, Sci-Fi",5663.0,Urusei Yatsura Movie 2: Beautiful Dreamer,7.89,Movie

<hr>

##### B. Bebi: Like (32281,24,25)

In [18]:
Bebi = [32281,24,25]
similarAnime0 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == Bebi[0]].index[0]]))
similarAnime1 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == Bebi[1]].index[0]]))
similarAnime2 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == Bebi[2]].index[0]]))

In [19]:
similarAnime=[]
for i in range(len(similarAnime0)):
    new = (similarAnime0[i][0], (similarAnime0[i][1]+similarAnime1[i][1]+similarAnime2[i][1])/3)
    similarAnime.append(new)

similarAnime = sorted(similarAnime, key=lambda x: x[1], reverse=True)    
similarAnime[:11]

[(2453, 0.634436428713753),
 (3476, 0.634436428713753),
 (367, 0.6259881576697425),
 (464, 0.6259881576697425),
 (772, 0.6259881576697425),
 (1330, 0.6259881576697425),
 (1748, 0.6259881576697425),
 (1818, 0.6259881576697425),
 (2018, 0.6259881576697425),
 (3576, 0.6259881576697425),
 (4204, 0.6259881576697425)]

In [20]:
# top 10 Anime
dfSim = pd.DataFrame()
for i in similarAnime[:11]:
    dfSim = dfSim.append(dfAnime.iloc[i[0]])
dfSim

,anime_id,episodes,genre,members,name,rating,type
2453,31610.0,25,"Comedy, Romance, School, Shounen, Supernatural",15519.0,Kyoukai no Rinne (TV) 2nd Season,7.26,TV
3477,28423.0,25,"Comedy, Romance, School, Shounen, Supernatural",47036.0,Kyoukai no Rinne (TV),6.98,TV
367,846.0,26,"Comedy, Romance, School, Shounen",93095.0,School Rumble Ni Gakki,8.15,TV
464,24.0,26,"Comedy, Romance, School, Shounen",178553.0,School Rumble,8.06,TV
772,517.0,2,"Comedy, Romance, School, Shounen",40868.0,School Rumble Ichi Gakki Hoshuu,7.85,OVA
1330,24627.0,2,"Comedy, Romance, School, Shounen",33816.0,Yamada-kun to 7-nin no Majo (OVA),7.59,OVA
1748,5150.0,12,"Comedy, Romance, School, Shounen",54796.0,Hatsukoi Limited,7.45,TV
1818,14753.0,3,"Comedy, Romance, School, Shounen",26535.0,Hori-san to Miyamura-kun,7.43,OVA
2018,4015.0,2,"Comedy, Romance, School, Shounen",41898.0,School Rumble San Gakki,7.38,OVA
3578,29589.0,24,"Comedy, Romance, School, Shounen",67336.0,Denpa Kyoushi (TV),6.94,TV
4206,9335.0,4,"Comedy, Romance, School, Shounen",10119.0,Megane na Kanojo,6.78,OVA

<hr>

#### C. Cindy: Like (100 & 200)

In [21]:
Cindy = [100,200]
similarAnime0 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == Cindy[0]].index[0]]))
similarAnime1 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == Cindy[1]].index[0]]))

In [22]:
similarAnime=[]
for i in range(len(similarAnime0)):
    new = (similarAnime0[i][0], (similarAnime0[i][1]+similarAnime1[i][1])/2)
    similarAnime.append(new)

similarAnime = sorted(similarAnime, key=lambda x: x[1], reverse=True)    
similarAnime[:11]

[(1302, 0.7651650429449552),
 (2210, 0.7651650429449552),
 (4160, 0.7634413615167959),
 (4752, 0.7634413615167959),
 (233, 0.7391989197401166),
 (4993, 0.7306949041460158),
 (5328, 0.7306949041460158),
 (7269, 0.7306949041460158),
 (284, 0.7285533905932737),
 (2028, 0.7285533905932737),
 (4337, 0.7285533905932737)]

In [23]:
# top 10 Anime
dfSim = pd.DataFrame()
for i in similarAnime[:11]:
    dfSim = dfSim.append(dfAnime.iloc[i[0]])
dfSim

,anime_id,episodes,genre,members,name,rating,type
1302,200.0,50,"Comedy, Magic, Romance, Shounen",15077.0,Tenshi na Konamaiki,7.60,TV
2210,100.0,13,"Comedy, Drama, Fantasy, Magic, Romance, Shoujo...",37394.0,Shin Shirayuki-hime Densetsu Prétear,7.33,TV
4162,626.0,22,"Comedy, Fantasy, Magic, Romance, Shounen",4995.0,Mamotte Shugogetten!,6.79,TV
4754,660.0,8,"Comedy, Fantasy, Magic, Romance, Shounen",2372.0,Denshin Mamotte Shugogetten,6.64,OVA
233,372.0,1,"Comedy, Drama, Fantasy, Magic, Romance, Shoujo",60637.0,Cardcaptor Sakura Movie 2: Fuuin Sareta Card,8.28,Movie
4995,2045.0,1,"Comedy, Fantasy, Magic, Romance, Shoujo",498.0,Mahou no Tenshi Creamy Mami: Eien no Once More,6.58,OVA
5330,2046.0,1,"Comedy, Fantasy, Magic, Romance, Shoujo",476.0,Mahou no Tenshi Creamy Mami: Long Goodbye,6.49,OVA
7275,3597.0,1,"Comedy, Drama, Fantasy, Magic, Romance",877.0,Fantasia,5.58,OVA
284,721.0,38,"Comedy, Fantasy, Magic, Romance",73218.0,Princess Tutu,8.23,TV
2028,1278.0,1,"Comedy, Magic, Romance, Shoujo",15135.0,Bishoujo Senshi Sailor Moon SuperS Gaiden: Ami...,7.37,Special
4339,3265.0,3,"Comedy, Magic, Romance, Shoujo",3999.0,Princess Tutu Recaps,6.75,Special

<hr>

#### D. User - ID 1

In [25]:
user1like =list(dfRating[dfRating['user_id']== 1][dfRating['rating'] == 10]['anime_id'].copy())
user1like

<ipython-input-25-82e53e2941d4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  user1like =list(dfRating[dfRating['user_id']== 1][dfRating['rating'] == 10]['anime_id'].copy())

[8074, 11617, 11757, 15451]

In [26]:
similarAnime0 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == user1like[0]].index[0]]))
similarAnime1 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == user1like[1]].index[0]]))
similarAnime2 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == user1like[2]].index[0]]))
similarAnime3 = list(enumerate(cosScore[dfAnime[dfAnime['anime_id'] == user1like[3]].index[0]]))

In [27]:
similarAnime=[]
for i in range(len(similarAnime0)):
    new = (similarAnime0[i][0], (similarAnime0[i][1]+similarAnime1[i][1]+similarAnime2[i][1]+similarAnime3[i][1])/4)
    similarAnime.append(new)

similarAnime = sorted(similarAnime, key=lambda x: x[1], reverse=True)    
similarAnime[:11]

[(724, 0.6604615686682962),
 (1036, 0.6604615686682962),
 (1163, 0.6604615686682962),
 (2687, 0.6334170045896409),
 (2854, 0.6320358242848682),
 (3695, 0.603926055960758),
 (4175, 0.603926055960758),
 (2819, 0.5985385661115389),
 (2928, 0.5985385661115389),
 (3001, 0.5985385661115389),
 (3744, 0.5985385661115389)]

In [28]:
# top 10 Anime
dfSim = pd.DataFrame()
for i in similarAnime[:11]:
    dfSim = dfSim.append(dfAnime.iloc[i[0]])
dfSim

,anime_id,episodes,genre,members,name,rating,type
724,15451.0,12,"Action, Comedy, Demons, Ecchi, Harem, Romance,...",266657.0,High School DxD New,7.87,TV
1036,24703.0,12,"Action, Comedy, Demons, Ecchi, Harem, Romance,...",192171.0,High School DxD BorN,7.71,TV
1163,32215.0,1,"Action, Comedy, Demons, Ecchi, Harem, Romance,...",22497.0,High School DxD BorN: Yomigaeranai Fushichou,7.66,OVA
2687,6324.0,12,"Action, Comedy, Demons, Ecchi, Harem, Romance,...",119572.0,Omamori Himari,7.19,TV
2855,22877.0,12,"Action, Comedy, Ecchi, Fantasy, Harem, Romance...",124448.0,Seirei Tsukai no Blade Dance,7.15,TV
3697,3948.0,3,"Action, Comedy, Ecchi, Harem, Romance, Superna...",6355.0,Mahou Sensei Negima! Introduction Film,6.91,OVA
4177,25397.0,12,"Action, Ecchi, Harem, Romance, School, Superna...",168811.0,Absolute Duo,6.78,TV
2819,29027.0,1,"Action, Demons, Ecchi, Fantasy, Harem, Romance",33466.0,Shinmai Maou no Testament OVA,7.16,OVA
2929,30363.0,10,"Action, Demons, Ecchi, Fantasy, Harem, Romance",93293.0,Shinmai Maou no Testament Burst,7.13,TV
3002,23233.0,12,"Action, Demons, Ecchi, Fantasy, Harem, Romance",172321.0,Shinmai Maou no Testament,7.11,TV
3746,30365.0,1,"Action, Demons, Ecchi, Fantasy, Harem, Romance",19251.0,Shinmai Maou no Testament Burst OVA,6.90,OVA

<hr>

#### 2. Collaboratives

In [83]:
df2 = dfRating[:1000].copy()
df2 = df2.pivot(index = 'user_id', columns='anime_id').replace([np.NaN,-1],0)
df2

         rating                                                        ...  \
anime_id  6     15    17    18    20    22    24    30    31    32     ...
user_id                                                                ...
1           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
2           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
3           0.0   0.0   0.0   0.0   8.0   0.0   0.0   0.0   0.0   0.0  ...
4           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
5           8.0   6.0   6.0   6.0   6.0   5.0   1.0   1.0   0.0   0.0  ...
6           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
7           0.0   0.0   0.0   0.0   0.0   7.0   0.0  10.0   9.0   9.0  ...


anime_id 31043 31240 31338 31636 31722 31845 31859 31964 32182 32828
user_id
1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3         10.0   0.0   0.0   0.0   0.0   0.0   7.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5          0.0   8.0   0.0   0.0   7.0   0.0   0.0   0.0   9.0   7.0
6          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
7          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[7 rows x 716 columns]

In [84]:
df2corr= df2.corr().replace([np.NaN,-1],0)
df2corr

                   rating                                                    \
anime_id            6         15        17        18        20        22
       anime_id
rating 6         1.000000  1.000000  1.000000  1.000000  0.509175  0.485530
       15        1.000000  1.000000  1.000000  1.000000  0.509175  0.485530
       17        1.000000  1.000000  1.000000  1.000000  0.509175  0.485530
       18        1.000000  1.000000  1.000000  1.000000  0.509175  0.485530
       20        0.509175  0.509175  0.509175  0.509175  1.000000  0.096738
...                   ...       ...       ...       ...       ...       ...
       31845     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
       31859    -0.166667 -0.166667 -0.166667 -0.166667  0.763763 -0.253320
       31964     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
       32182     1.000000  1.000000  1.000000  1.000000  0.509175  0.485530
       32828     1.000000  1.000000  1.000000  1.000000  0.509175  0.485530

                                                         ...            \
anime_id            24        30        31        32     ...     31043
       anime_id                                          ...
rating 6         1.000000 -0.067458 -0.166667 -0.166667  ... -0.166667
       15        1.000000 -0.067458 -0.166667 -0.166667  ... -0.166667
       17        1.000000 -0.067458 -0.166667 -0.166667  ... -0.166667
       18        1.000000 -0.067458 -0.166667 -0.166667  ... -0.166667
       20        0.509175 -0.206089 -0.254588 -0.254588  ...  0.763763
...                   ...       ...       ...       ...  ...       ...
       31845     0.000000  0.000000  0.000000  0.000000  ...  0.000000
       31859    -0.166667 -0.185510 -0.166667 -0.166667  ...  1.000000
       31964     0.000000  0.000000  0.000000  0.000000  ...  0.000000
       32182     1.000000 -0.067458 -0.166667 -0.166667  ... -0.166667
       32828     1.000000 -0.067458 -0.166667 -0.166667  ... -0.166667

                                                                       \
anime_id            31240 31338 31636     31722 31845     31859 31964
       anime_id
rating 6         1.000000   0.0   0.0  1.000000   0.0 -0.166667   0.0
       15        1.000000   0.0   0.0  1.000000   0.0 -0.166667   0.0
       17        1.000000   0.0   0.0  1.000000   0.0 -0.166667   0.0
       18        1.000000   0.0   0.0  1.000000   0.0 -0.166667   0.0
       20        0.509175   0.0   0.0  0.509175   0.0  0.763763   0.0
...                   ...   ...   ...       ...   ...       ...   ...
       31845     0.000000   0.0   0.0  0.000000   0.0  0.000000   0.0
       31859    -0.166667   0.0   0.0 -0.166667   0.0  1.000000   0.0
       31964     0.000000   0.0   0.0  0.000000   0.0  0.000000   0.0
       32182     1.000000   0.0   0.0  1.000000   0.0 -0.166667   0.0
       32828     1.000000   0.0   0.0  1.000000   0.0 -0.166667   0.0


anime_id            32182     32828
       anime_id
rating 6         1.000000  1.000000
       15        1.000000  1.000000
       17        1.000000  1.000000
       18        1.000000  1.000000
       20        0.509175  0.509175
...                   ...       ...
       31845     0.000000  0.000000
       31859    -0.166667 -0.166667
       31964     0.000000  0.000000
       32182     1.000000  1.000000
       32828     1.000000  1.000000

[716 rows x 716 columns]

- Collaborative :
        - user 'Ali' memberikan rating {1:10}
        - user 'Bebi' memberikan rating {20:8}, {24:-1}, dan {25: 5}
        - user 'Cindy' suka anime {6:9} & {15:9}
        - user dengan ```user_id = 1`

<hr>

### A. Ali Anime ID 1: rating 10

In [94]:
Ali = [[6,10]]

dfSkor = pd.DataFrame()
for animeid,rating in Ali:
    skor = df2corr.iloc[animeid] * rating
    dfSkor = dfSkor.append(skor, ignore_index = True)
    
sortskor = dfSkor.sum().sort_values(ascending=False)
sortskor

(rating, 32828)    10.000000
(rating, 11013)    10.000000
(rating, 9253)     10.000000
(rating, 9355)     10.000000
(rating, 9471)     10.000000
                     ...
(rating, 10507)    -2.573993
(rating, 5231)     -2.581989
(rating, 18097)    -2.581989
(rating, 11771)    -2.581989
(rating, 11757)    -2.799254
Length: 716, dtype: float64

In [95]:
dfrekomendasi = pd.DataFrame()
for i,j in sortskor[:10].index:
    dfrekomendasi = dfrekomendasi.append(dfAnime[dfAnime['anime_id'] == j])
dfrekomendasi

,anime_id,name,genre,type,episodes,rating,members
1200,32828,Amaama to Inazuma,"Comedy, Seinen, Slice of Life",TV,12,7.63,95339
1083,11013,Inu x Boku SS,"Comedy, Romance, Shounen, Supernatural",TV,12,7.69,216204
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
1950,9355,Sekirei: Pure Engagement - Kanwa ni Dai,"Comedy, Ecchi, Harem",Special,1,7.40,26719
845,9471,Baka to Test to Shoukanjuu: Matsuri,"Comedy, School, Super Power",OVA,2,7.80,67684
7023,9741,Nana to Kaoru,"Comedy, Ecchi, Romance, Seinen",OVA,1,5.79,12919
82,32182,Mob Psycho 100,"Action, Comedy, Slice of Life, Supernatural",TV,12,8.55,193716
4562,9936,Maken-Ki!,"Action, Ecchi, Harem, Martial Arts, School, Su...",TV,12,6.69,104182
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
2804,10108,Ore no Imouto ga Konnani Kawaii Wake ga Nai: S...,Comedy,Special,16,7.16,14917

In [93]:
dfrekomendasi

Empty DataFrame
Columns: [anime_id, name, genre, type, episodes, rating, members]
Index: []

<hr>

### B.  Bebi (AnimeID,Rating) : {20:8}, {24:0}, dan {22: 5}

In [100]:
Bebi = [[20,8],[24,0],[22,5]]

dfSkor = pd.DataFrame()
for animeid,rating in Bebi:
    skor = df2corr.iloc[animeid] * rating
    skor = skor.sort_values(ascending = False)
    dfSkor = dfSkor.append(skor, ignore_index = True)
    
sortskor = dfSkor.sum().sort_values(ascending=False)

In [103]:
dfrekomendasi = pd.DataFrame()
for i,j in sortskor[:10].index:
    dfrekomendasi = dfrekomendasi.append(dfAnime[dfAnime['anime_id'] == j])
dfrekomendasi

,anime_id,name,genre,type,episodes,rating,members
686,532,Bishoujo Senshi Sailor Moon S,"Drama, Magic, Romance, Shoujo",TV,38,7.89,66911
3649,2131,Bokusatsu Tenshi Dokuro-chan 2,"Comedy, Ecchi, Magic",OVA,2,6.92,70734
2840,16982,Hayate no Gotoku! Cuties,"Comedy, Harem, Parody, Romance, Shounen",TV,12,7.15,24044
1383,3652,Higurashi no Naku Koro ni Rei,"Comedy, Mystery, Psychological, Supernatural, ...",OVA,5,7.56,99463
2669,568,Bubblegum Crisis Tokyo 2040,"Adventure, Mecha, Sci-Fi, Shounen",TV,26,7.19,20079
4983,10491,Higurashi no Naku Koro ni Kira,"Mystery, Parody",OVA,4,6.58,46712
3777,12783,Sora no Otoshimono Final: Eternal My Master,"Comedy, Ecchi, Harem, Sci-Fi, Shounen, Superna...",Movie,1,6.89,48730
4183,15879,Chuunibyou demo Koi ga Shitai!: Depth of Field...,"Action, Mecha",Special,7,6.78,34964
967,740,Bishoujo Senshi Sailor Moon R,"Demons, Magic, Romance, Shoujo",TV,43,7.74,73305
2221,15687,Chuunibyou demo Koi ga Shitai! Lite,"Comedy, School",ONA,6,7.32,60139

<hr>

### C.  Cindy (AnimeID,Rating) : {6:9}, {15:9}

In [106]:
Cindy = [[6,9],[15,9]]

dfSkor = pd.DataFrame()
for animeid,rating in Cindy:
    skor = df2corr.iloc[animeid] * rating
    skor = skor.sort_values(ascending = False)
    dfSkor = dfSkor.append(skor, ignore_index = True)
    
sortskor = dfSkor.sum().sort_values(ascending=False)

In [107]:
dfrekomendasi = pd.DataFrame()
for i,j in sortskor[:10].index:
    dfrekomendasi = dfrekomendasi.append(dfAnime[dfAnime['anime_id'] == j])
dfrekomendasi

,anime_id,name,genre,type,episodes,rating,members
112,136,Hunter x Hunter,"Action, Adventure, Shounen, Super Power",TV,62,8.48,166255
821,3515,Saint Seiya: Meiou Hades Elysion-hen,"Action, Fantasy, Shounen, Super Power",OVA,6,7.82,19044
491,15809,Hataraku Maou-sama!,"Comedy, Demons, Fantasy, Romance, Shounen",TV,13,8.03,409037
566,1253,Saint Seiya: Meiou Hades Meikai-hen,"Action, Adventure, Demons, Fantasy, Sci-Fi, Sh...",OVA,12,7.97,21240
249,1257,Saint Seiya: Meiou Hades Juuni Kyuu-hen,"Adventure, Sci-Fi, Shounen",OVA,13,8.26,23701
1349,10719,Boku wa Tomodachi ga Sukunai,"Comedy, Ecchi, Harem, Romance, School, Seinen,...",TV,12,7.57,325664
5051,9479,Coppelion,"Action, Sci-Fi, Seinen",TV,13,6.56,76291
1403,11633,Blood Lad,"Action, Comedy, Demons, Seinen, Supernatural, ...",TV,10,7.55,241513
499,1254,Saint Seiya,"Adventure, Fantasy, Sci-Fi, Shounen",TV,114,8.03,70559
146,139,Hunter x Hunter: Greed Island Final,"Action, Adventure, Shounen, Super Power",OVA,14,8.41,55787